user一覧
Users押すとここ

  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
 
    <% @users.each do |user| %>
      <tr>
        <!--image_tag写真,↑book.user,bookの中の投稿者の情報もってきてるget_profile_image(100,100)表示メソッド-->
        <td><! %= image_tag get_profile_image %></td>
        <td><%= user.name %></td>
        <!--一番上しかリンクできない???ログイン後の画像の不備と関係あり?-->
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>  






<div>New book</div>
   <!--indexアクションで作ったデータを入れる箱、空っぽなので送信すると自動的にcreate処理にいく-->
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
  
    <div>Title</div>
    <%= f.text_field :title %>
  
    <div>Opinion</div>
    <%= f.text_area :body %>
  
    <div><%= f.submit 'Create Book' %></div>
  <% end %>